<ion-content>
  <h2 style="margin-left: 15px"><b>Hi, I'm Isaac</b></h2>
  <ion-avatar class="avatar">
    <img src="https://i.boring.host/1655Njr4.jpg">
  </ion-avatar>
  <p class="font">Joined in 2019</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
      <ion-card-subtitle>Lives in London, UK</ion-card-subtitle>
      <ion-card-subtitle>Email: isaachudis1@gmail.com</ion-card-subtitle>
      <ion-card-subtitle>Phone number: +447795241717</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Other Information</ion-card-title>
      <ion-card-subtitle>Number of bookings made: 0</ion-card-subtitle>
      <ion-card-subtitle>Number of reviews received: 0</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reviews List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          No reviews listed.
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button color="secondary" expand="full" style="margin: 15px" (click)="goToHome()">Log out</ion-button>

</ion-content>
