<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <ion-card text-center>
          <ion-card-title class="title"><b>Welcome Back! Please Login Here</b></ion-card-title>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-card>
        <div style="margin: auto">
          <ion-button size="large" (click)="goToHome()">Login</ion-button>
          <ion-button size="large" (click)="goToRegister()">Register</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


