<ion-content>
  <h1 style="text-align: center"><b>Welcome to Budget Airbnb</b></h1>
  <img class="fill" src="https://i.boring.host/166EIl4e.jpg">  
  <ion-searchbar></ion-searchbar>
  <ion-button color="primary">Number of Guests</ion-button>  
  <ion-button color="primary">Dates</ion-button>
  <ion-button color="primary">Price Range</ion-button>
  <ion-list>
    <ion-item *ngFor="let rental of rentals">
      <img class="box" src = {{rental.imageUrl}} (click) = "goRental(rental)">           
        <ion-card>
          <p style="margin: 15px">Name: {{rental.name}}</p>
          <p style="margin: 15px">Location: {{rental.location}}</p>
          <p style="margin: 15px">Price: {{rental.price}}</p>
        </ion-card>  
    </ion-item>  
  </ion-list>
  
</ion-content>
