<ion-content>
  <h1 style="margin: 15px;">Trips</h1>
  
  <ion-list>
    <ion-item>
      <img src="https://i.boring.host/166LQ8hw.jpg" style="width: 25%; height: 75%; margin: 15px" (click)="goRental1()">
      <ion-label>Mansion</ion-label>
    </ion-item>  
    <ion-item>
      <img src="https://i.boring.host/166MzJHl.jpg" style="width: 25%; height: 75%; margin: 15px" (click)="goRental2()">
      <ion-label>Beach House</ion-label>
    </ion-item>
  </ion-list>

  <ion-button class="button" color="secondary" size="large" (click)="goToExplore()">Explore Budget Airbnb</ion-button>
</ion-content>
