<ion-header>
  <h1 style="margin: 15px;">Trips</h1>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let rental of rentals">
      <img src = {{rental.image}} (click) = "goRental(rental)">
      <ion-card>
        <ion-card-subtitle>Name: {{rental.name}}</ion-card-subtitle>
        <ion-card-subtitle>House address: {{rental.house_address}}</ion-card-subtitle>
        <ion-card-subtitle>Price: {{rental.price}}</ion-card-subtitle>
        <ion-card-subtitle>Owner: {{rental.owner}}</ion-card-subtitle>
      </ion-card>
    </ion-card>
  </ion-list>

  <ion-button class="button" color="secondary" size="large" (click)="goToExplore()">Explore Budget Airbnb</ion-button>
</ion-content>

<!-- my images had buttons but I removed them as I they linked to 2 different pages and I couldn't 
figure out a way to do that with the for loop. -->